.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inlineBlock{
    display: inline-block;
    width: 100%;
}




.container{
     width: 100%;
    margin: auto;
    background-color: #007d64;
    display: flex;
    padding: 100px;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.textContainer{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 20px 20px 0;
    font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
}

.imageContainer{
      font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
}

.p{
    font-size: 72px;
}
.span{
    font-size: 18px;
}
.textAlign{
    text-align: left;
}

.text{
    width: 300px;
}